{% extends 'myapp/base.html' %}

{% block title %}Home - Clean Blog Django{% endblock %}

{% block header_title %}Clean Blog{% endblock %}
{% block header_subtitle %}A Clean Blog Theme Powered by Django{% endblock %}

{% block content %}
<!-- Post previews -->
<div class="post-preview">
    <a href="#">
        <h2>Man must explore, and this is exploration at its greatest</h2>
        <h3>Problems look mighty small from 150 miles up</h3>
    </a>
    <p class="post-meta">
        Posted by <a href="#">Start Bootstrap</a> on September 24, 2023
    </p>
</div>

<div class="post-preview">
    <a href="#">
        <h2>I believe every human has a finite number of heartbeats</h2>
        <h3>I don't intend to waste any of mine</h3>
    </a>
    <p class="post-meta">
        Posted by <a href="#">Start Bootstrap</a> on September 18, 2023
    </p>
</div>

<div class="post-preview">
    <a href="#">
        <h2>Science has not yet mastered prophecy</h2>
        <h3>We predict too much for the next year and yet far too little for the next ten</h3>
    </a>
    <p class="post-meta">
        Posted by <a href="#">Start Bootstrap</a> on August 24, 2023
    </p>
</div>

<div class="post-preview">
    <a href="#">
        <h2>Failure is not an option</h2>
        <h3>Many say exploration is part of our destiny, but it's actually our duty to future generations</h3>
    </a>
    <p class="post-meta">
        Posted by <a href="#">Start Bootstrap</a> on July 8, 2023
    </p>
</div>

<!-- Pager -->
<div class="pager">
    <a class="btn btn-primary btn-lg" href="#">← Older Posts</a>
</div>
{% endblock %}
